<app-spinner *ngIf="flag"></app-spinner>
    <section class="content">
        
        <div class="wrapper">
          <!-- <div class="card-header">
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div id="loading">Loading...</div>
          </div> -->
          
            <table>
                <thead>
                    <tr>
                        <th >
                            #
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Authors
                        </th>
                        <th>
                            First Published
                        </th>
                        <th>
                            Last published
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books; let i=index;">
                        <td>{{(i + 1) + (page - 1) * pageSize}}</td>
                        <td style="width:447.88px">
                            {{book.title + (book.subtitle?": "+book.subtitle:"") }}
                        </td>
                        <td style="text-align:center;width: 127.24px;">
                            {{book.authors}}
                        </td>
                        <td style="text-align:center">
                            {{book.first_published }}
                        </td>
                        <td style="text-align:center">
                            {{book.last_published}}
                        </td>
                    </tr>
                </tbody>
            </table>
             
            <!-- <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshBooks()">
                </ngb-pagination>             
                <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshBooks()">
                  <option [ngValue]="15">15 items per page</option>
                  <option [ngValue]="20">20 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                  <option [ngValue]="150">150 items per page</option>
                </select>                
            </div> -->
          
        </div>
        <div class="pagin">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshBooks()">
            </ngb-pagination>
        </div>
      </section>
