body {
    background-color: rgb(255, 255, 255);
    flex-grow: 2;
    width: 140vh;
    min-height: 73vh;
    height: max-content;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 10px;

}

input {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 7px;
    padding-bottom: 5px;
    margin-top: 55px;
    width: 500px;
    margin-left: 30px;
    border-radius: 25px;
    box-shadow: 0px 7px 5px #C8DBE4;
    border: 2px solid #C8DBE4;
    outline: none;
    
}

button {
    margin-left: 30px;
    background-color: #D36582;
    border: 2px solid #D36582;
    border-radius: 30px;
    color:rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0px 7px 5px #C8DBE4;
    
}

@media only screen and (max-width: 600px) {
    body {
        margin-top: 20%;
        margin-right: 200%;
        width: 65.5vh;
        
    }

    input {
        width: 400px;

    }

    button {
        margin-top: 25px;
    }
}